.message-list-container {
  margin-bottom: 16px;
  flex: 1;
  overflow: scroll;
}

.message-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message {
  color: black;
  padding: 8px 16px;
  margin-bottom: 8px;
  background: #d9e0e8;
  border-radius: 5px;
  text-align: left;
}

.own-message {
  color: white;
  background: #0088ff;
  border-radius: 5px;
  align-self: flex-end;
  text-align: right;
}

.sender {
  margin-bottom: 8px;
}
